.nav-link {
    opacity:0.7;
    
}   
.nav-link:hover{
   opacity: 1;
   background-color: gray  !important;
}

.navbar{
   background-color:gray;
   height: 50px;

}

.navbar a{
   text-align: left;
   display: inline;
}



#wolf{
    border:1px solid orange;
    border-radius: 15px;
    margin: 10px;
}
#wolf img{
    padding: 5px;
}

#borderline{
    border:1px solid orange;
    border-radius: 15px;
    margin: 10px;
}

#borderline img{
    padding: 5px;
}

body{
    background-color: black;
}

h1{
    color:white;
}